* {
    font-style: arial;
    transition: all 0.4s ease;
}

input {
 outline:none;
}

.hidden {
    display: none;
}

button:hover {
    transform: scale(1.1);
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

h1:hover, p:hover {
    cursor: default;
}

.jumbotron {
    text-align: center;
    text-transform: uppercase;
    background-image: url("images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
}

.jumbotron h1 {
    color: #ffffff;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 255, 255, 0.65);
}

.jumbotron p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.5em;
}

.jumbotron .jumbo-button {
    display: flex;
    flex-direction: column;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
    background-color: #f32853;
    border-color: #f32853;
    font-weight: 700;
    height: 3.15em;
    border-width: 2.5px;
    transition: all 0.3s ease;
}

.jumbotron .jumbo-button:hover {
    background-color: transparent;
}

.middle {
    background-color: white;
    position: relative;
}

.more {
    line-height: 1.57500em;
    background-color: #323037;
    border-color: #323037;
    font-weight: 700;
    height: 3.15em;
    border-width: 2.5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}


.more:hover {
    color: #323037;
    border-color: #323037;
    background-color: transparent;
}

.newsletter-section {
    /*background-color: #e8faf4;*/
    background-image: url("http://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-1450368431G3V.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
}

.newsletter-section form {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.newsletter-section form label {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.newsletter-section form fieldset {
    border: 2px solid rgba(27, 204, 30, 0.3);
    border-radius: 30px;
    width: 100%;
    max-width: 385px;
    height: 50px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.newsletter-section form fieldset input,
.newsletter-section form fieldset button {
    display: inline;
    height: 100%;
}

.newsletter-section form fieldset input {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    width: 70%;
    background-color: #e8faf4;
    margin: 0;
    padding: 1em 20px;
    border-radius: 30px;
}

.newsletter-section form fieldset input:focus,
.newsletter-section form fieldset input.active {
    outline: 0;
    background-color: transparent;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.newsletter-section form fieldset input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    font-size: 1.5rem;
    line-height: .75em;
    letter-spacing: 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.newsletter-section form fieldset input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    font-size: 1.5rem;
    line-height: .75em;
    letter-spacing: 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 1;
}

.newsletter-section form fieldset input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    font-size: 1.5rem;
    line-height: .75em;
    letter-spacing: 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 1;
}

.newsletter-section form fieldset input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    font-size: 1.5rem;
    line-height: .75em;
    letter-spacing: 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.newsletter-section form fieldset input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    font-size: 1.5rem;
    line-height: .75em;
    letter-spacing: 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.newsletter-section form fieldset input:placeholder-shown {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    font-size: 1.5rem;
    line-height: .75em;
    letter-spacing: 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.newsletter-section form fieldset button {
    position: absolute;
    right: -2px;
    top: -2px;
    height: 50px;
    width: 100px;
    color: #fff;
    background-color: #1BCC90;
    border: 0;
    margin: 0;
    border-radius: 30px;
    float: right;
}

.newsletter-section form fieldset button:hover,
.newsletter-section form fieldset button:focus,
.newsletter-section form fieldset button.active {
    outline: 0;
}

#email {
    border: none;
}

.newsletter-section form fieldset button .action-link {
    font-size: 1.5rem;
    line-height: .75rem;
    padding: 16px 0;
    width: 100%;
}

.newsletter-section form fieldset .mc-response {
    text-align: center;
}

.newsletter-section form fieldset .mc-response span {
    display: inline-block;
    line-height: 1.2em;
    margin-top: 0.5em;
    color: #1D1D1D;
    will-change: color;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out;
}

.newsletter-section form fieldset .mc-response span.success {
    color: #1BCC90
}

.newsletter-section form fieldset .mc-response span.error {
    color: #F45E4F
}


footer {
  position: relative;
  z-index: -2;
  height: 300px;
  background: none repeat scroll 0% 0% #31353A;
  font-size: 12px;
  color: #CCC;
  text-align: center;
}
footer h1 {
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 110px;
  margin-left: -400px;
  width: 800px;
  list-style: outside none none;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 2.125rem;

}




@media only screen and (max-width: 500px) {
    .jumbotron {
        transform: scale(2);
    }
    .jumbotron h1 {
        font-size: 10px;
    }

    .jumbotron p {
        font-size: 7px;
    }

    .jumbotron .jumbo-button {
        font-size: 5px;
        width: 60px;
        height: 30px;
    }

}
